{% extends "gccfarm_web/base.html" %}

{% block content %}

<h1>List of machines</h1>

<p>To connect to a machine, use <code>ssh <em>user</em>@gccX.fsffrance.org</code>.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Arch</th>
      <th>CPU type</th>
      <th>CPU</th>
      <th>RAM</th>
      <th>Disk</th>
      <th>OS</th>
      <th>Uptime</th>
      <th>Host</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    {% for m in machines %}
    <tr {% if not m.success %}class="danger"{% endif %}>
      <td>{{ m.name }}</td>
      <td>{{ m.description }}</td>
      <td>{{ m.architecture }}</td>
      <td>{{ m.processor }}</td>
      <td>{{ m.nb_cpu }}&nbsp;CPU<br />{{ m.nb_cores }}&nbsp;cores<br />{{ m.nb_threads }}&nbsp;threads</td>
      <td>{{ m.memtotal_mb }}&nbsp;MB</td>
      <td>{% if m.mount_home_size_total %}{{ m.mount_home_size_total|filesizeformat }}
	{% else %}{{ m.mount_root_size_total|filesizeformat }}{% endif %}</td>
      <td>{{ m.os }}<br />{{ m.kernel }}</td>
      <td>{{ m.uptime }}</td>
      <td>{{ m.host }}</td>
      <td>{{ m.location }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
