{% extends "gccfarm_web/base.html" %}
{% load timing %}

{% block content %}
<h1>All approved accounts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Who</th>
      <th>Login</th>
      <th>Contributions</th>
      <th>Requested</th>
      <th>Approved</th>
      <th>Approved by</th>
    </tr>
  </thead>
  <tbody>
{% for account in accounts %}
    <tr>
      <td>{{ account.first_name }} {{ account.last_name }}<br />{{ account.email }}</td>
      <td>{{ account.username }}</td>
      <td style="word-break: break-all;">{{ account.contributions|urlizetrunc:42|linebreaks }}</td>
      <td>{{ account.request_date|naturaltime_with_hover }}</td>
      <td>{{ account.approved_date|naturaltime_with_hover }}</td>
      <td>{{ account.approved_by }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
