{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The GCC Farm Project</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'gccfarm_web/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'gccfarm_web/css/bootstrap-theme.min.css' %}" />
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'gccfarm_web/css/style.css' %}" />
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
	<a class="navbar-brand" href="{% url 'home' %}">Compile Farm</a>
      </div>
      <ul class="nav navbar-nav">
        <li {% if request.resolver_match.url_name == 'platform' %}class="active"{% endif %}><a href="{% url 'platform' %}">List of machines</a></li>
        <li {% if request.resolver_match.url_name == 'tickets' %}class="active"{% endif %}><a href="{% url 'tickets' %}">Tickets</a></li>
        {% if not user.is_authenticated %}
        <li {% if request.resolver_match.url_name == 'join' %}class="active"{% endif %}><a href="{% url 'join' %}">Request an account</a></li>
        {% endif %}
        {% if user.is_authenticated %}
	{% comment %}
        <li {% if request.resolver_match.url_name == 'manage_machines' %}class="active"{% endif %}><a href="{% url 'manage_machines' %}">My machines</a></li>
        <li {% if request.resolver_match.url_name == 'manage_groups' %}class="active"{% endif %}><a href="{% url 'manage_groups' %}">My groups</a></li>
        <li {% if request.resolver_match.url_name == 'see_users' %}class="active"{% endif %}><a href="{% url 'see_users' %}">All users</a></li>
	{% endcomment %}
        <li {% if request.resolver_match.url_name == 'userkey_list' %}class="active"{% endif %}><a href="{% url 'simplesshkey:userkey_list' %}">Manage SSH keys</a></li>
        {% if user.is_staff %}
        <li {% if request.resolver_match.url_name == 'review_account_requests' %}class="active"{% endif %}><a href="{% url 'review_account_requests' %}">Review pending account requests</a></li>
        <li {% if request.resolver_match.url_name == 'deployment_dashboard' %}class="active"{% endif %}><a href="{% url 'deployment_dashboard' %}">Deployment dashboard</a></li>
        {% endif %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
        {% else %}
        <li><p class="navbar-text"><strong>Logged in as <code>{{ user.username }}</code></strong></p></li>
        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block messages %}
    {% bootstrap_messages messages %}
    {% endblock messages %}

    {% block content %}
    {% endblock %}
  </div>

</body>
 
</html>
