{% extends "gccfarm_web/base.html" %}
{% load bootstrap %}

{% block content %}
<h1>Deployment statistics</h1>

<h3>Users</h3>

<p>
  <strong>{{ undeployed_users|length }} users</strong> waiting to be deployed: <code>{{ undeployed_users|join:', ' }}</code>
</p>

<p>
  <strong>{{ no_uid_users|length }} users</strong> without UID: <code>{{ no_uid_users|join:', ' }}</code>
</p>

<p>
  <strong>{{ partial_users|length }} users</strong> not fully deployed on all machines: <code>{{ partial_users|join:', ' }}</code>
</p>

<p>
  <strong>{{ partial_machines|length }} machines</strong> missing some users: <code>{{ partial_machines|join:', ' }}</code>
</p>


<h3>SSH keys</h3>

<p>
  <strong>{{ users_in_sshkey_queue|length }} users</strong> waiting for their SSH keys to be deployed: <code>{{ users_in_sshkey_queue|join:', ' }}</code>
</p>

<p>
  <strong>{{ users_in_sshkey_backlog|length }} users</strong> with SSH keys not fully deployed on all machines:
  <ul>
    {% for user in users_in_sshkey_backlog %}
    <li><code>{{ user }}</code> (missing on <strong>{{ user.sshkeydeploybacklog_set.count }}</strong> machine(s))</li>
    {% endfor %}
  </ul>
</p>

<p>
  <strong>{{ machines_in_sshkey_backlog|length }} machines</strong> with missing SSH keys:
  <ul>
    {% for machine in machines_in_sshkey_backlog %}
    <li><code>{{ machine }}</code> (missing SSH keys for <strong>{{ machine.sshkeydeploybacklog_set.count }}</strong> user(s))</li>
    {% endfor %}
  </ul>
</p>

{% endblock content %}
