{% extends "gccfarm_web/base.html" %}

{% block content %}

<h1>The GCC Compile Farm project</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      The GCC Compile farm project maintains machines of various
      architectures and provides SSH access to free software developers,
      GCC and others (GPL, BSD, MIT, ...).
    </p>

    <p>
      Once your account application is approved (see the <a href="{% url 'join' %}">Request an account</a>
      page), you get full SSH access to all the <a href="{% url 'platform' %}">farm machines</a>, current and future.
    </p>

    <p>
      For more information about usage, see <a href="https://gcc.gnu.org/wiki/CompileFarm">the wiki page of the project</a>.
    </p>
  </div>
</div>

{% endblock %}
