{% extends "gccfarm_web/base.html" %}
{% load bootstrap %}

{% block content %}
<h1>Join the project!</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>If you are working on a piece of free software (GCC or any other
      GPL, BSD, MIT, ...) and need ssh access to the farm for compilation,
      debug and test on various architectures you may apply for a GCC
      Compile Farm account.</p>

    <p>To apply for an account, please fill in the form below.  Note that
      account requests are moderated manually.</p>

    <p>Once your account is created, you will be able to upload SSH keys
      and gain SSH access to all machines of the platform.</p>

    <p>The compile farm machines should be used only for free software
      development, see
      this <a href="http://www.gnu.org/licenses/license-list.html">free
      software license list</a>.</p>
  </div>
</div>

<p>
  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_errors form.non_field_errors %}

    <div class="form-group">
      {% bootstrap_errors form.username.errors %}
      {{ form.username.label_tag }}
      <p class="help-block">This will be your Unix login on the farm machines.
        <strong>Note:</strong> the list of usernames may be made publicly available.</p>
      {{ form.username }}
    </div>

    <div class="form-group">
      {% bootstrap_errors form.first_name.errors %}
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
    </div>

    <div class="form-group">
      {% bootstrap_errors form.last_name.errors %}
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
    </div>

    <div class="form-group">
      {% bootstrap_errors form.email.errors %}
      {{ form.email.label_tag }}
      <p class="help-block">Your email address will be used to send you a
      confirmation link, and may be used to subscribe you to a mailing
      list (farm users).</p>
      {{ form.email }}
    </div>

    <div class="form-group">
      {% bootstrap_errors form.contributions.errors %}
      {{ form.contributions.label_tag }}
      <p class="help-block">Please mention at least one free software
	project you are a contributor of, with URLs pointing to your
	contributions and project licence
	information.  <strong>Note:</strong> the name and URL of free
	software(s) you mention here may be made publicly available as
	part of a list of projects using the GCC farm.</p>
      {{ form.contributions }}
    </div>
    <input type="submit" class="btn btn-primary" value="Request account" />
  </form>
</p>

{% endblock content %}
