{% extends "gccfarm_web/base.html" %}

{% block content %}
<h1>Join the project</h1>

<h3>Your request has been submitted</h3>

<p>Account moderation is done manually, so it may take a few days before
your request is reviewed.  You will receive an email when your account is
validated.</p>

{% endblock content %}
