{% extends "gccfarm_web/base.html" %}

{% block content %}

<h1>Manage machines</h1>

<p>This page will allow users to manage the machines they provide to the
platform.  For each machine owned by the user, he/she can provide the
physical location, IP addresses, and some information about the hardware.
The rest of the information about the machines (OS, CPU, memory, etc) is
gathered automatically via SSH.</p>

<p>Users can also add (i.e. register) a new machine they want to provide
to the platform.</p>

{% endblock content %}
