{% extends "gccfarm_web/base.html" %}
{% load bootstrap %}

{% block content %}
<h1>Reject account request</h1>

<p>You are about to reject account creation for the following user:</p>

<table class="table table-striped">
  <tr><th>Name</th><td>{{ user.first_name }} {{ user.last_name }}</td></tr>
  <tr><th>Login</th><td>{{ user.username }}</td></tr>
  <tr><th>Email address</th><td>{{ user.email }}</td></tr>
  <tr style="word-break: break-all;"><th>Contributions</th><td>{{ user.contributions|linebreaks }}</td></tr>
</table>

<p>Please provide a reject reason below, that will be sent to the user.</p>
<form method="post">
{% csrf_token %}
<div class="form-group">
{% bootstrap_errors form.reject_reason.errors %}
{{ form.reject_reason.label_tag }}<br />
{{ form.reject_reason }}
</div>
<input type="submit" value="Reject" class="btn btn-danger" />
</form>
{% endblock content %}
