{% extends "gccfarm_web/base.html" %}
{% load timing %}

{% block content %}
<h1>Pending account creation requests</h1>

<p><strong>Note:</strong> when rejecting an account request, you will be prompted for a rejection reason.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Who</th>
      <th>Login</th>
      <th>Contributions</th>
      <th>Requested</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for account in accounts %}
    <tr>
      <td>{{ account.first_name }} {{ account.last_name }}<br />{{ account.email }}</td>
      <td>{{ account.username }}</td>
      <td style="word-break: break-all;">{{ account.contributions|urlizetrunc:42|linebreaks }}</td>
      <td>{{ account.request_date|naturaltime_with_hover }}</td>
      <td>
        <p><a href="{% url 'approve_account_request' account.pk %}" class="btn btn-success">Approve</a></p>
        <p><a href="{% url 'reject_account_request' account.pk %}" class="btn btn-danger">Reject</a></p>
      </td>
    </tr>
{% endfor %}
{% if not accounts %}
    <tr><td><em>No pending request</em></td><td></td><td></td><td></td><td></td></tr>
{% endif %}
  </tbody>
</table>


<p><br /><hr /></p>

<h1>Recently rejected requests</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Who</th>
      <th>Login</th>
      <th>Contributions</th>
      <th>Requested</th>
      <th>Rejected</th>
      <th>Rejected by</th>
    </tr>
  </thead>
  <tbody>
{% for account in rejected_accounts %}
    <tr>
      <td>{{ account.first_name }} {{ account.last_name }}<br />{{ account.email }}</td>
      <td>{{ account.username }}</td>
      <td style="word-break: break-all;">{{ account.contributions|urlizetrunc:42|linebreaks }}</td>
      <td>{{ account.request_date|naturaltime_with_hover }}</td>
      <td>{{ account.approved_date|naturaltime_with_hover }}</td>
      <td>{{ account.approved_by }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<p><a role="button" class="btn btn-primary" href="{% url 'rejected_accounts' %}">View all rejected requests</a></p>

<p><br /><hr /></p>

<h1>Recently approved requests</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Who</th>
      <th>Login</th>
      <th>Contributions</th>
      <th>Requested</th>
      <th>Approved</th>
      <th>Approved by</th>
    </tr>
  </thead>
  <tbody>
{% for account in approved_accounts %}
    <tr>
      <td>{{ account.first_name }} {{ account.last_name }}<br />{{ account.email }}</td>
      <td>{{ account.username }}</td>
      <td style="word-break: break-all;">{{ account.contributions|urlizetrunc:42|linebreaks }}</td>
      <td>{{ account.request_date|naturaltime_with_hover }}</td>
      <td>{{ account.approved_date|naturaltime_with_hover }}</td>
      <td>{{ account.approved_by }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<p><a role="button" class="btn btn-primary" href="{% url 'approved_accounts' %}">View all approved accounts</a></p>

{% endblock content %}
