{% extends "gccfarm_web/base.html" %}

{% block content %}

<h1>Tickets</h1>

<p>You can use this ticket tracker to request installation of a package,
signal that a machine is not working correctly, or any other issue you
encounter using the platform.</p>

<h3>Coming soon!</h3>

<p>In the meantime, you can send an email to <code>cfarm-admins</code> at <code>lists</code> dot <code>tetaneutral</code> dot <code>net</code>.</p>

{% endblock content %}
