{% extends "gccfarm_web/base.html" %}

{% block content %}

<h1>Login</h1>

{% if user.is_authenticated %}
<h3>You are already logged in!</h3>

<p>You may want to <a href="{% url 'simplesshkey:userkey_list' %}">add SSH keys</a> to your account.</p>
{% else %}

{% if form.errors %}
<div class="alert alert-danger">
  Your username and password didn't match. Please try again.
</div>
{% endif %}

<p>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username }}
  </div>
  <div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
  </div>
  <input type="submit" class="btn btn-primary" value="Login" />&nbsp;
  <a class="btn btn-default" href="{% url 'password_reset' %}">Lost password?</a>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</p>


<h3>Don't have an account?</h3>

<p>To request an account, please see <a href="{% url 'join' %}">this page</a>.</p>

{% endif %}

{% endblock %}
