{% extends "gccfarm_web/base.html" %}
{% load bootstrap %}

{% block content %}
{% if action == 'add' %}
<h1>Add SSH Key</h1>
{% else %}
<h1>Edit SSH Key</h1>
{% endif %}

{% bootstrap_error error_message %}

<form action="" method="post">
{% csrf_token %}

{% bootstrap_errors form.non_field_errors %}

<p>
  {% bootstrap_errors form.name.errors %}
  <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
  <div>{{ form.name }}</div>
</p>

<p>
  {% bootstrap_errors form.key.errors %}
  <label for="{{ form.key.id_for_label }}">{{ form.key.label }}</label>
  <div>{{ form.key }}</div>
</p>

<input type="submit" class="btn btn-primary" value="Save" />
</form>
{% endblock content %}
