{% extends "gccfarm_web/base.html" %}
{% load humanize %}
{% load bootstrap %}

{# Don't display messages in the default place #}
{% block messages %}
{% endblock messages %}

{% block content %}
<h1>My SSH Keys</h1>

<p><strong>Hint:</strong> to display the fingerprint of a key,
run <code>ssh-keygen -l -f ~/.ssh/id_rsa.pub</code>. You need to
add <code>-E md5</code> with recent versions of OpenSSH.</p>

{% bootstrap_messages messages %}

<table class="table table-striped">
  <tr>
    <th>Key</th>
    <th>Fingerprint</th>
    <th>Added</th>
    <th></th>
  </tr>
{% for userkey in userkey_list %}
  <tr>
    <td>{{ userkey.name }}</td>
    <td>{{ userkey.fingerprint }}</td>
    <td>{{ userkey.created|naturaltime|default:"unknown" }}</td>
    <td>
    {% if allow_edit %}
    <a href="{% url "simplesshkey:userkey_edit" userkey.pk %}">Edit</a>
    {% endif %}
    <a href="{% url "simplesshkey:userkey_delete" userkey.pk %}">Delete</a>
    </td>
  </tr>
{% endfor %}
</table>

<p><a class="btn btn-primary" href="{% url "simplesshkey:userkey_add" %}">Add new SSH key</a></p>

<h3><code>authorized_keys</code> file on farm machines
{% if user.sshkeydeployqueue_set.exists %}
  <button type="button" class="btn btn-lg btn-danger" disabled="disabled">Unsynced</button>
{% elif user.sshkeydeploybacklog_set.exists %}
  <button type="button" class="btn btn-lg btn-warning" disabled="disabled">Synced {{ user.nb_machines_synced }}/{{ user.nb_machines_total }}</button>
{% else %}
  <button type="button" class="btn btn-lg btn-success" disabled="disabled">Synced</button>
{% endif %}
</h3>

<pre>
{{ user.get_sshkeys }}
</pre>

{% endblock content %}
